* {
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #f7f5f5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 25px;
  background-color: #f7f5f5;
  color: #444244;
  font-size: .8rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container {
  flex: 1;
  padding: 15px;
}


.product-card {
  padding-block: 15px;
  border-bottom: 1.5px solid white;
  font-size: 1rem;
}

.discounted {
  color: red;
}

footer {
  background-color: #4d4d4d;
  font-size: .7rem;
  color: #8fffd4;
  border-top: 2px solid white;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}


